.sidenav{
    background-color: #FF0030;
    width: 200px;
}

.sidenav a{
    color: #FFF;
    padding-top: 10px;
}
.sidenav 

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: white;
}

.sidenav .icone{
    height: 50px;;
    font-size: 23px;
}