<!-- 
<mat-card class="container">
    <mat-card-title>Compra realizada:</mat-card-title>
    <form id="form"> 
        <h2> Cliente da compra: </h2>
        <fieldset class="containerEntity">
            <mat-form-field>
                <input matInput placeholder="Nome" readonly="true"
                    [(ngModel)]="purchase.clientDTO.name" name="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Idade" readonly="true"
                    [(ngModel)]="purchase.clientDTO.age" name="age" type="number">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefone" readonly="true"
                    [(ngModel)]="purchase.clientDTO.telephone" name="telephone">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="E-mail" readonly="true"
                    [(ngModel)]="purchase.clientDTO.email" name="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Gênero" readonly="true"
                    [(ngModel)]="purchase.clientDTO.gender" name="gender">
            </mat-form-field>
        </fieldset>
        
        <h2>Livros comprados:</h2>
        <fieldset *ngFor="let book of purchase.bookDTOS" name= "{{book.uuid}}" class="containerEntity">
            <mat-form-field>
                <input matInput placeholder="Título" 
                    [(ngModel)]="book.title" name="title{{book.uuid}}" readonly=true>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="ISBN"
                    [(ngModel)]="book.isbn" name="isbn{{book.uuid}}" readonly=true>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Ano de publicação"
                    [(ngModel)]="book.publicationYear" id="{{book.uuid}}date" name="publicationYear{{book.uuid}}" type="date" readonly=true>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Preço"
                    [(ngModel)]="book.price"  name="price{{book.uuid}}" type="number" readonly=true>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Quantidade em estoque"
                    [(ngModel)]="book.quantityInStock" name="quantityInStock{{book.uuid}}" type="number" readonly=true>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nome do autor"
                    [(ngModel)]="book.authorName" name="authorName{{book.uuid}}" readonly=true>
            </mat-form-field>
            <fieldset>
                <h3>Categorias:</h3>
                <div *ngFor="let category of book.categories">
                    <label >{{category.name}}</label>
                </div>
            </fieldset>
    </fieldset>
    
    </form>
    <div class="contentButton">
        <button mat-raised-button (click)="deletePurchase()" class="save">
            Excluir
        </button>
    
        <button mat-raised-button (click)="cancel()" class="cancel">
            Cancelar
        </button>
    </div>
</mat-card>
-->



