<mat-card>
    <mat-card-title>Excluir Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" disabled="true" 
                [(ngModel)]="client.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" disabled="true" 
                [(ngModel)]="client.age" name="age" type="number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" disabled="true" 
                [(ngModel)]="client.telephone" name="telephone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" disabled="true" 
                [(ngModel)]="client.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Gênero" disabled="true"
                [(ngModel)]="client.gender" name="gender">
        </mat-form-field>
        
    </form>
    <div class="contentButton">
        <button mat-raised-button (click)="deleteClient()" class="delete">
            Excluir
        </button>
    
        <button mat-raised-button (click)="cancel()" class="cancel">
            Cancelar
        </button>
    </div>
</mat-card>




