<mat-card>
    <mat-card-title>Novo Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Título" 
                [(ngModel)]="book.title" name="title">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sinopse"
                [(ngModel)]="book.synopsis" name="synopsis">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ISBN"
                [(ngModel)]="book.isbn" name="isbn">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ano de publicação"
                [(ngModel)]="book.publicationYear" name="publicationYear" type="date">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço"
                [(ngModel)]="book.price" name="price" type="number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade em estoque"
                [(ngModel)]="book.quantityInStock" name="quantityInStock" type="number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome do autor"
                [(ngModel)]="book.authorName" name="authorName">
        </mat-form-field>
        <fieldset>
            <legend>Selecione as categorias do livro:</legend>
            <input type="checkbox" name="categories" id="category1" value="1">
            <label for="category1">Romance</label>
            <input type="checkbox" name="categories" id="category1" value="2">
            <label for="category1">Ação</label>
            <input type="checkbox" name="categories" id="category1" value="3">
            <label for="category1">Fantasia</label>
            <input type="checkbox" name="categories" id="category1" value="4">
            <label for="category1">Ficção</label>
            <input type="checkbox" name="categories" id="category1" value="5">
            <label for="category1">Terror</label>
            <input type="checkbox" name="categories" id="category1" value="6">
            <label for="category1">Comédia</label>
            <input type="checkbox" name="categories" id="category1" value="7">
            <label for="category1">Comédia Romântica</label>
            <input type="checkbox" name="categories" id="category1" value="8">
            <label for="category1">Ficção Científica</label>
            <input type="checkbox" name="categories" id="category1" value="9">
            <label for="category1">Aventura</label>
            <input type="checkbox" name="categories" id="category1" value="10">
            <label for="category1">Drama</label>
        </fieldset>
    </form>
    <button mat-raised-button (click)="createBook()" class="save">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()" class="cancel">
        Cancelar
    </button>
</mat-card>




