
<mat-card class="container">
    <mat-card-title>Novo Livro</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Título" required 
                [(ngModel)]="book.title" name="title">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sinopse" required
                [(ngModel)]="book.synopsis" name="synopsis">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ISBN" required
                [(ngModel)]="book.isbn" name="isbn">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ano de publicação" required
                [(ngModel)]="book.publicationYear" name="publicationYear" type="date">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço" required
                [(ngModel)]="book.price" name="price" type="number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade em estoque" required
                [(ngModel)]="book.quantityInStock" name="quantityInStock" type="number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome do autor" required
                [(ngModel)]="book.authorName" name="authorName">
        </mat-form-field>
        <fieldset>
            <legend>Selecione as categorias do livro:</legend>
            <input type="checkbox" name="categories" id="category1" value=1>
            <label for="category1">Romance</label>
            <input type="checkbox" name="categories" id="category2" value=2>
            <label for="category2">Ação</label>
            <input type="checkbox" name="categories" id="category3" value=3>
            <label for="category3">Fantasia</label>
            <input type="checkbox" name="categories" id="category4" value=4>
            <label for="category4">Ficção</label>
            <input type="checkbox" name="categories" id="category5" value=5>
            <label for="category5">Terror</label>
            <input type="checkbox" name="categories" id="category6" value=6>
            <label for="category6">Comédia</label>
            <input type="checkbox" name="categories" id="category7" value=7>
            <label for="category7">Comédia Romântica</label>
            <input type="checkbox" name="categories" id="category8" value=8>
            <label for="category8">Ficção Científica</label>
            <input type="checkbox" name="categories" id="category9" value=9>
            <label for="category9">Aventura</label>
            <input type="checkbox" name="categories" id="category10" value=10>
            <label for="category10">Drama</label>
        </fieldset>
    </form>
    <div class="contentButton">
        <button mat-raised-button (click)="createBook()" class="save">
            Salvar
        </button>
        <button mat-raised-button (click)="cancel()" class="cancel">
            Cancelar
        </button>
    </div>
</mat-card>




