/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-toolbar {
    position: relative;
    z-index: 2;
  }
  form{
    margin-top: 20px;
  }

  .msg-success{
    background-color: #28a745;
    color: white;
  }
  .msg-error{
    background-color: #e71837;
    color: white;

  }