
button{
    color: white;
    margin-right: 10px;
    margin-top: 20px;
    width: 100px
}

.save{
    background-color: #e71837;
}
.cancel{
    background-color: #383838
}


.contentButton {
    display: flex;
    justify-content: flex-end;
}


.container{
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow-y: scroll ;
    overflow-x: hidden;
}

input{
    font-weight: bold;
}

.containerEntity{
    display: flex;
    justify-items: left;
}

.quantity{
    font-size: 20px;
    margin-left: 30px;
}
.select{
    width: 30px;
    height: 30px;
}

.radio{
    width: 70px;
    height: 30px;
}
.email{
    width: 100%;
}
.space{
    margin-top: 30px;
}
