button{
    color: white;
    margin-right: 10px;
    margin-top: 20px;
    width: 100px
}

.contentButton {
    display: flex;
    justify-content: flex-end;
}


.save{
    background-color: #e71837;
}
.cancel{
    background-color: #383838
}